/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CONTAINER*/
.container {
    max-width: 1200px;
    margin: auto;

}
ul.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li {
    border: 1px solid;
    width: calc(100% / 7);
    background-color: yellow;
}
.fizz {
    background-color: aqua;
}
.fizzbuzz {
    background-color: violet;
}
.buzz {
    background-color: lightgreen;
}